.dashboard {
    display: grid;
    grid-template-areas: "mymovies watchlist";
}
.mymovies {
    grid-area: mymovies;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.watchlist {
    grid-area: watchlist;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}